 #container-notify-display>.container-notify {
     width: 300px;
     position: fixed;
     margin: 20px auto;
     padding: 20px;
     background-color: #f4f4f4;
     border-radius: 10px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
     bottom: 0;
     z-index: 100;
     right: 60px;
     text-decoration: none;
 }


 .notification {
     padding: 18px;
     padding-bottom: 10px;
     border-bottom: 1px solid #ccc;
     display: flex;
     align-items: center;
 }

 .notification:last-child {
     border-bottom: none;
 }

 .notification img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 10px;
 }

 .notification-content {
     flex: 1;
 }

 .notification-content h3 {
     margin: 0;
     font-size: 14px;
 }

 .notification-content p {
     margin: 0;
     font-size: 12px;
     color: #777;
     margin-top: 5px;
 }


 .modal-body>.container-notify {
     text-decoration: none;

 }

 #notification-modal #notification-modal .modal-content {
     min-width: 300px !important
 }

 #notification-modal .modal-dialog {
     position: fixed;
     top: 54px;
     right: 100px;
 }


 #notification-modalLabel {
     margin: 20px;
     margin-bottom: 10px;
 }

 .container-notify {
     text-decoration: none;
 }

 @media (max-width: 1920px) {
     #notification-modal .modal-dialog {
         position: fixed;
         top: 54px;
         right: 80px;
     }
 }

 @media (max-width: 1440px) {
     #notification-modal .modal-dialog {
         position: fixed;
         top: 54px;
         right: 80px;
     }
 }

 @media (max-width: 1024px) {
     #notification-modal .modal-dialog {
         position: fixed;
         top: 54px;
         right: 20px;
     }


 }